/* Tanisha Matthews */
/*Module 4- Web Development with HTML and CSS */
 /*   July 6, 2021 */

 body {
     background-color: #dcdcf7;
     margin: 0;
     padding: 0;
     font-family: 'Poppins', Arial, sans-serif;

 }

 h1 {
     text-align: left;
     color:#4e4c67;
     padding:10px;
     
 }

 h2 {
     text-decoration: bold;
     color: #4e4c67;
     padding:10px;

 }

 h3 {
     color: #4e4c67



 }

 p {
     color: #4e4c67;
     padding:10px;
     text-align: left;

 }

 
     
.nav {
    
    background-color: #4e4c67;
}

 

 .nav ul {
     list-style-type: none;
     background-color: #4e4c67;
     text-align: center;
     margin: 0;
     padding: 0;
     
     
   

 }

 .nav li {
     margin-left: 60px;
     display: inline-block;
     background-color: #4e4c67;
     text-align: center;
 
     
 }

 .nav a {
     display: block;
     width:250px;
     padding: 10px;
     background-color: #4e4c67;
     font-size: 18px;
     color: #a6b1e1;
     text-decoration: none;
     

 }

 a:hover {
    color: #985f6f;
    background-color: #a6b1e1;
 }

 a:visited {
     color: #985f6f;
     text-decoration: underline;
     text-decoration: bold;


 }

 .column {
    float: left;
    width: 50%;
    padding: 30px;
   

}

.row:after {
    content:"";
    display:table;
    clear: both;

}

#image-gallery {
    margin:10%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

img {
    width: 400px;
    height: 350px
}

figure {
    text-align: center;

}

#left {
    padding-left: 70px;
}



